{% extends "base.html" %}

{% block content %}

<h2>👋 Xin chào {{role}}</h2>

{% if role == 'student' %}
<form action="/upload" method="post" enctype="multipart/form-data">
    <input name="title" placeholder="Tiêu đề"><br>
    
    <select name="doc_type">
        <option>Thông báo</option>
        <option>Nghị quyết</option>
        <option>Công văn</option>
    </select><br>

    <input type="file" name="file"><br>
    <button>Gửi</button>
</form>
{% endif %}

<hr>

<h3>📥 Văn bản đang xử lý</h3>

{% for doc in docs %}
<div>
    <b>{{doc.title}}</b><br>
    👤 {{doc.sender}}<br>
    📂 {{doc.doc_type}}<br>
    ⏰ {{doc.created_at}}<br>
    📌 {{doc.status}}<br>

    <a href="/file/{{doc.filename}}">Xem</a>

    {% if role == 'staff' %}
    <a href="/staff_approve/{{doc.id}}">✔ Duyệt</a>
    <a href="/to_leader/{{doc.id}}">⬆ Gửi lãnh đạo</a>
    {% endif %}

    {% if role == 'admin' %}
    <a href="/approve/{{doc.id}}">✔ Duyệt</a>
    <a href="/reject/{{doc.id}}">❌ Từ chối</a>
    {% endif %}
</div>
<hr>
{% endfor %}

<h3>📁 Văn bản đã xử lý</h3>

{% for doc in done_docs %}
<div>
    <b>{{doc.title}}</b><br>
    {{doc.status}}<br>
</div>
{% endfor %}

{% endblock %}