{% extends "base.html" %}

{% block content %}

<h3 class="mb-4">📊 Thống kê</h3>

<div class="row">

    <div class="col-md-3">
        <div class="card p-3 bg-primary text-white">
            <h5>Tổng văn bản</h5>
            <h2>{{total}}</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3 bg-success text-white">
            <h5>Đã duyệt</h5>
            <h2>{{approved}}</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3 bg-danger text-white">
            <h5>Từ chối</h5>
            <h2>{{rejected}}</h2>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card p-3 bg-warning text-dark">
            <h5>Đang xử lý</h5>
            <h2>{{pending}}</h2>
        </div>
    </div>

</div>

{% endblock %}