{% extends "base.html" %}
{% block content %}

<h3>👤 Quản lý tài khoản</h3>

<a href="/admin/add_user" class="btn btn-primary mb-3">➕ Tạo tài khoản</a>

<table class="table table-bordered text-center">
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Role</th>
        <th>Khoa</th>
        <th>Chức vụ</th>
        <th>Hành động</th>
    </tr>

    {% for u in users %}
    <tr>
        <td>{{u.id}}</td>
        <td>{{u.username}}</td>
        <td>{{u.role}}</td>
        <td>{{u.department}}</td>
        <td>{{u.position}}</td>

        <td>
            <a href="/admin/edit_user/{{u.id}}" class="btn btn-warning btn-sm">Sửa</a>
            <a href="/admin/delete_user/{{u.id}}" class="btn btn-danger btn-sm">Xoá</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}